*{
  margin: 0;
  padding: 0;
}
.left-block{
  &__investors-text{
    font-size: 25px;
    width: 50%;
  }
  &__introducing-text{
    font-size: 25px;
    width: 50%;
  }
  &__nfts{

  }
  &__nfts-text{
    font-family: 'Inter', sans-serif;
    line-height: 100%;
    font-size: 185px;
  }
  &__roaming-solana{
  }
}
.first-block{
  background-image: url(img/bcg.png);
}
.first-block{
  display: flex;
  padding-top: 96px;
  &__block-under-header{
    display: flex;
    margin-bottom: 124px;
  }
}
.line{
  height: 12px;
  width: 100%;
  background-color: red;
  margin-bottom: 5px;
}
.container{
  max-width: 1128px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px
}
//font-family: 'adamant-bg-2', sans-serif;
.heads{
  &__BucketHeadz{
    position: relative;
    font-family: 'stinger-fit-2', sans-serif;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -2px;
    font-style: normal;
    font-size: 90px;
  }
}
.right-block-img{
  position: absolute;
}
.right-block{
  position: relative;
  &__1{
    left: 48px;
    height: 180px;
    width: 200px;
  }
  &__2{
    left: 410px;
    height: 180px;
    width: 170px;
    top: 320px;
  }
  &__3{
    top: 216px;
    left: 75px;
    height: 124px;
    width: 120px;
  }
  &__4{
    top: 180px;
    left: 422px;
    height: 121px;
    width: 121px;
  }
  &__5{
    top: 89px;
    left: 241px;
    height: 159px;
    width: 151px;
  }
  &__6{
    top: 263px;
    left: 189px;
    height: 193px;
    width: 200px;
  }
}