@import url("fonts/adamant/stylesheet.css");
@import url("fonts/stinger/stylesheet.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d0d0d0;
}

.left-block {
  color: white;
}
.left-block__investors-text {
  font-size: 25px;
  width: 50%;
}
.left-block__introducing-text {
  font-size: 25px;
  width: 50%;
}
.left-block__nfts-text {
  font-family: "Inter", sans-serif;
  line-height: 100%;
  font-size: 185px;
}
.left-block__roaming-solana {
  line-height: 50px;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: -3.5px;
}

.first-block-wrapper {
  background-image: url("https://i.ibb.co/5vL3z5Z/image.png");
  background-size: contain;
  height: 700px;
}

.second-block-wrapper {
  height: 855px;
  overflow: hidden;
}

.first-block {
  display: flex;
  padding-top: 96px;
}
.first-block__block-under-header {
  display: flex;
  margin-bottom: 124px;
}

.line {
  height: 12px;
  width: 100%;
  background-color: red;
  margin-bottom: 5px;
}

.container {
  max-width: 1128px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.heads__BucketHeadz {
  position: relative;
  top: -19px;
  font-family: "Stinger";
  line-height: 100%;
  letter-spacing: -2px;
  font-size: 90px;
}

.right-block-img {
  position: absolute;
}

.right-block {
  position: relative;
}
.right-block__1 {
  animation: head1 3s ease-in-out infinite;
  left: 48px;
  height: 180px;
  width: 200px;
}
.right-block__2 {
  animation: head2 3s ease-in-out infinite;
  left: 410px;
  height: 180px;
  width: 170px;
  top: 320px;
}
.right-block__3 {
  animation: head3 3s ease-in-out infinite;
  top: 216px;
  left: 75px;
  height: 124px;
  width: 120px;
}
.right-block__4 {
  animation: head4 3s ease-in-out infinite;
  top: 180px;
  left: 422px;
  height: 121px;
  width: 121px;
}
.right-block__5 {
  animation: head5 3s ease-in-out infinite;
  top: 89px;
  left: 241px;
  height: 159px;
  width: 151px;
}
.right-block__6 {
  animation: head6 3s ease-in-out infinite;
  top: 263px;
  left: 189px;
  height: 193px;
  width: 200px;
}

@keyframes head1 {
  0% {
    top: 0;
    position: absolute;
  }
  50% {
    top: 26px;
    position: absolute;
  }
  100% {
    top: 0;
    position: absolute;
  }
}
@keyframes head2 {
  0% {
    top: 320px;
    position: absolute;
  }
  50% {
    top: 334px;
    position: absolute;
  }
  100% {
    top: 320px;
    position: absolute;
  }
}
@keyframes head3 {
  0% {
    top: 216px;
    position: absolute;
  }
  50% {
    top: 226px;
    position: absolute;
  }
  100% {
    top: 216px;
    position: absolute;
  }
}
@keyframes head4 {
  0% {
    top: 180px;
    position: absolute;
  }
  50% {
    top: 212px;
    position: absolute;
  }
  100% {
    top: 180px;
    position: absolute;
  }
}
@keyframes head5 {
  0% {
    top: 89px;
    position: absolute;
  }
  50% {
    top: 103px;
    position: absolute;
  }
  100% {
    top: 89px;
    position: absolute;
  }
}
@keyframes head6 {
  0% {
    top: 263px;
    position: absolute;
  }
  50% {
    top: 283px;
    position: absolute;
  }
  100% {
    top: 263px;
    position: absolute;
  }
}
.second-block__header {
  font-size: 75px;
  padding-top: 70px;
  margin-bottom: 64px;
}

.drop-1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -19px;
  left: -24px;
  z-index: -1;
}
.drop-2 {
  position: absolute;
  height: 93px;
  width: 86px;
  top: -212px;
  right: -81px;
  z-index: -1;
}
.drop-3 {
  position: absolute;
  height: 86px;
  width: 86px;
  top: 454px;
  right: 11px;
  z-index: -1;
}

.three-reasons {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.three-reasons__block {
  width: 340px;
  height: 460px;
  background-color: #fff;
  border-radius: 24px 24px 24px 24px/24px 24px 24px 24px;
  box-shadow: 21px 21px 22px -5px rgba(34, 60, 80, 0.2);
  display: block;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.three-reasons__header {
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}
.three-reasons__icon {
  box-sizing: border-box;
  padding-top: 26px;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three-reasons__text {
  font-size: 20px;
}
.three-reasons__1 {
  position: relative;
}
.three-reasons__2 {
  position: relative;
  margin: 0 10px;
}
.three-reasons__3 {
  position: relative;
}

.third-block-wrapper {
  background-color: rebeccapurple;
  height: 760px;
  position: relative;
}

.third-block {
  position: relative;
  background-color: red;
  border-radius: 24px 24px 24px 24px/24px 24px 24px 24px;
  box-shadow: 21px 21px 22px -5px rgba(34, 60, 80, 0.2);
  min-height: 650px;
  overflow: hidden;
}
.third-block__header {
  font-family: "PF Adamant Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  padding-top: 14px;
}
.third-block__img-20 {
  position: absolute;
  right: 74px;
  top: 168px;
  z-index: 0;
}
.third-block__img-2 {
  position: absolute;
  left: 202px;
  bottom: 29px;
  z-index: 0;
}
.third-block__img {
  width: 488px;
  height: 445px;
  margin-bottom: 14px;
  margin-top: 45px;
  margin-left: 51px;
  z-index: 2;
}
.third-block__wrapper {
  display: flex;
}
.third-block__green-circle {
  position: absolute;
  top: 157px;
  left: -92px;
  z-index: 1;
}

.right-block-with-text {
  margin-left: 59px;
  margin-top: 60px;
}
.right-block-with-text__2 {
  margin-left: 38px;
}
.right-block-with-text__1, .right-block-with-text__2, .right-block-with-text__3 {
  margin-bottom: 25px;
}
.right-block-with-text__header {
  font-size: 43px;
}
.right-block-with-text__text {
  font-size: 21px;
}

.fourth-block-wrapper {
  height: 764px;
  background-color: blue;
  position: relative;
}

.fourth-block__header {
  font-size: 60px;
  padding-top: 94px;
  margin-bottom: 70px;
}
.fourth-block__img-26 {
  position: absolute;
  left: 74px;
  top: 688px;
  z-index: 2;
}
.fourth-block__headers {
  font-size: 35px;
  margin-bottom: 12px;
}
.fourth-block__text {
  font-size: 23px;
  margin-bottom: 35px;
}

.fifth-block-wrapper {
  background-color: green;
  padding-bottom: 30px;
  position: relative;
}

.fifth-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth-block__img {
  width: 36px;
}
.fifth-block__img-27 {
  position: absolute;
  left: 199px;
  top: 242px;
}
.fifth-block__img-2 {
  position: absolute;
  right: 180px;
  top: 174px;
}
.fifth-block__links {
  display: flex;
}
.fifth-block__header {
  font-size: 60px;
  padding-top: 16px;
  margin-bottom: 24px;
  text-align: center;
}
.fifth-block__headers {
  text-align: center;
  margin-bottom: 10px;
}
.fifth-block__button {
  border-radius: 44px 44px 44px 44px/44px 44px 44px 44px;
  border: none;
  margin-bottom: 26px;
  background: linear-gradient(45deg, #ffd64c, #fffc40);
  font-size: 19px;
  width: 230px;
  height: 90px;
  cursor: pointer;
}
.fifth-block__img {
  margin: 0 5px;
}
.fifth-block__right-links {
  margin-left: 47px;
}
.fifth-block__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rarity {
  width: 45px;
}

.disc {
  width: 40px;
}

.ME {
  padding-left: 6px;
  width: 40px;
}

.inst {
  width: 26px;
  margin-left: 18px;
}

.logo {
  width: 28px;
}

/*# sourceMappingURL=styles.css.map */
