@charset "UTF-8";
@import url("fonts/adamant/stylesheet.css");
@import url("fonts/stinger/stylesheet.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d0d0d0;
}

.left-block {
  color: white;
  margin-left: 86px;
}
.left-block__investors-text {
  font-size: 25px;
  width: 50%;
}
.left-block__introducing-text {
  font-size: 25px;
  width: 50%;
}
.left-block__nfts-text {
  font-family: "Inter", sans-serif;
  line-height: 100%;
  font-size: 185px;
}
.left-block__1441NFT {
  width: 425px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.left-block__roaming-solana {
  line-height: 90px;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: -3.5px;
  margin-bottom: 77px;
}
.left-block__button {
  width: 354px;
  height: 88px;
  border-radius: 20px;
  color: black;
  font-size: 29px;
  background: linear-gradient(45deg, #ffd64c, #fffc40);
  border-style: none;
  cursor: pointer;
}

.first-block-wrapper {
  background-image: url("http://localhost:63342/untitled19/img/фон 1.png");
  background-size: cover;
  min-height: 773px;
}

.second-block-wrapper {
  min-height: 775px;
  margin-bottom: 49px;
  overflow: hidden;
}

.first-block {
  display: flex;
  padding-top: 96px;
  justify-content: center;
}
.first-block__block-under-header {
  display: flex;
  margin-bottom: 124px;
}

.line {
  height: 12px;
  width: 100%;
  background-color: white;
  margin-bottom: 5px;
}

.container {
  max-width: 1128px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.heads__BucketHeadz {
  position: relative;
  top: -19px;
  font-family: "Stinger";
  line-height: 100%;
  letter-spacing: -2px;
  font-size: 90px;
}

.right-block-img {
  position: absolute;
}

.right-block {
  position: relative;
  width: 50%;
}
.right-block__1 {
  animation: head1 3s ease-in-out infinite;
  left: -24px;
  top: 42px;
  height: 150px;
  width: 163px;
}
.right-block__2 {
  animation: head2 3s ease-in-out infinite;
  left: 356px;
  height: 144px;
  width: 136px;
  top: 188px;
}
.right-block__3 {
  animation: head3 3s ease-in-out infinite;
  top: 235px;
  left: -20px;
  height: 132px;
  width: 126px;
}
.right-block__4 {
  animation: head4 3s ease-in-out infinite;
  top: 15px;
  left: 357px;
  height: 143px;
  width: 143px;
}
.right-block__5 {
  animation: head5 3s ease-in-out infinite;
  top: 31px;
  height: 142px;
  width: 132px;
  left: 181px;
}
.right-block__6 {
  animation: head6 3s ease-in-out infinite;
  top: 213px;
  left: 158px;
  height: 155px;
  width: 159px;
}
.right-block__7 {
  animation: head7 3s ease-in-out infinite;
  top: 386px;
  left: -40px;
  height: 147px;
  width: 138px;
}
.right-block__8 {
  animation: head8 3s ease-in-out infinite;
  top: 389px;
  left: 159px;
  height: 153px;
  width: 134px;
}
.right-block__9 {
  animation: head9 3s ease-in-out infinite;
  top: 371px;
  left: 331px;
  height: 145px;
  width: 162px;
}

@keyframes head1 {
  0% {
    top: 0;
    position: absolute;
  }
  50% {
    top: 26px;
    position: absolute;
  }
  100% {
    top: 0;
    position: absolute;
  }
}
@keyframes head2 {
  0% {
    top: 188px;
    position: absolute;
  }
  50% {
    top: 202px;
    position: absolute;
  }
  100% {
    top: 188px;
    position: absolute;
  }
}
@keyframes head3 {
  0% {
    top: 235px;
    position: absolute;
  }
  50% {
    top: 245px;
    position: absolute;
  }
  100% {
    top: 235px;
    position: absolute;
  }
}
@keyframes head4 {
  0% {
    top: 15px;
    position: absolute;
  }
  50% {
    top: 47px;
    position: absolute;
  }
  100% {
    top: 15px;
    position: absolute;
  }
}
@keyframes head5 {
  0% {
    top: 31px;
    position: absolute;
  }
  50% {
    top: 45px;
    position: absolute;
  }
  100% {
    top: 31px;
    position: absolute;
  }
}
@keyframes head6 {
  0% {
    top: 213px;
    position: absolute;
  }
  50% {
    top: 233px;
    position: absolute;
  }
  100% {
    top: 213px;
    position: absolute;
  }
}
@keyframes head7 {
  0% {
    top: 386px;
    position: absolute;
  }
  50% {
    top: 426px;
    position: absolute;
  }
  100% {
    top: 386px;
    position: absolute;
  }
}
@keyframes head8 {
  0% {
    top: 389px;
    position: absolute;
  }
  50% {
    top: 414px;
    position: absolute;
  }
  100% {
    top: 389px;
    position: absolute;
  }
}
@keyframes head9 {
  0% {
    top: 371px;
    position: absolute;
  }
  50% {
    top: 401px;
    position: absolute;
  }
  100% {
    top: 371px;
    position: absolute;
  }
}
.second-block__header {
  font-size: 75px;
  margin-bottom: 64px;
  padding-top: 44px;
}

.drop-1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -19px;
  left: -24px;
  z-index: -1;
}
.drop-2 {
  position: absolute;
  height: 93px;
  width: 86px;
  top: -212px;
  right: -81px;
  z-index: -1;
}
.drop-3 {
  position: absolute;
  height: 86px;
  width: 86px;
  top: 454px;
  right: 11px;
  z-index: -1;
}

.three-reasons {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.three-reasons__block {
  width: 340px;
  height: 460px;
  background-color: #fff;
  border-radius: 24px 24px 24px 24px/24px 24px 24px 24px;
  box-shadow: 21px 21px 22px -5px rgba(34, 60, 80, 0.2);
  display: block;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.three-reasons__header {
  font-size: 33px;
  padding-top: 14px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  position: relative;
  font-weight: bold;
}
.three-reasons__icon {
  box-sizing: border-box;
  padding-top: 26px;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three-reasons__text {
  font-size: 20px;
}
.three-reasons__1 {
  position: relative;
}
.three-reasons__2 {
  position: relative;
  margin: 0 10px;
}
.three-reasons__3 {
  position: relative;
}

.third-block-wrapper {
  min-height: 743px;
  position: relative;
}

.third-block {
  position: relative;
  background-color: #ffffff;
  border-radius: 24px 24px 24px 24px/24px 24px 24px 24px;
  box-shadow: 21px 21px 22px -5px rgba(34, 60, 80, 0.2);
  min-height: 648px;
  overflow: hidden;
}
.third-block__header {
  font-family: "PF Adamant Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  margin-bottom: 30px;
}
.third-block__img-20 {
  position: absolute;
  right: 74px;
  top: 168px;
  z-index: 0;
}
.third-block__img-2 {
  position: absolute;
  left: 202px;
  bottom: 29px;
  z-index: 0;
}
.third-block__img {
  width: 423px;
  height: 590px;
  margin-bottom: 14px;
  margin-top: 25px;
  margin-left: 24px;
  z-index: 2;
}
.third-block__wrapper {
  display: flex;
}
.third-block__green-circle {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
}

.right-block-with-text {
  margin-left: 100px;
  margin-top: 60px;
}
.right-block-with-text__2 {
  margin-bottom: 18px;
}
.right-block-with-text__1 {
  margin-bottom: 10px;
}
.right-block-with-text__header {
  font-size: 50px;
  margin-bottom: 6px;
}
.right-block-with-text__text {
  font-size: 21px;
}

.fourth-block-wrapper {
  overflow: hidden;
  color: white;
  background-image: url("http://localhost:63342/untitled19/img/фон с ноутбуком.png");
  background-size: cover;
  min-height: 811px;
  position: relative;
}

.fourth-block {
  display: flex;
}
.fourth-block__green-circle {
  position: absolute;
}
.fourth-block__orange-circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22%;
}
.fourth-block__laptop {
  width: 676px;
  height: 559px;
  top: 64px;
  position: absolute;
  left: 534px;
}
.fourth-block__left-block {
  width: 460px;
  position: relative;
}
.fourth-block__header {
  font-size: 60px;
  padding-top: 142px;
  margin-bottom: 64px;
}
.fourth-block__img-26 {
  position: absolute;
  left: 74px;
  top: 688px;
  z-index: 2;
}
.fourth-block__headers {
  font-size: 35px;
  margin-bottom: 18px;
}
.fourth-block__text {
  font-size: 23px;
  margin-bottom: 50px;
}

.fifth-block-wrapper {
  padding-bottom: 30px;
  position: relative;
}

.fifth-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth-block__img {
  width: 36px;
}
.fifth-block__img-27 {
  position: absolute;
  left: 199px;
  top: 242px;
}
.fifth-block__img-2 {
  position: absolute;
  right: 180px;
  top: 174px;
}
.fifth-block__links {
  display: flex;
}
.fifth-block__header {
  font-size: 60px;
  padding-top: 16px;
  margin-bottom: 24px;
  text-align: center;
}
.fifth-block__headers {
  text-align: center;
  margin-bottom: 10px;
}
.fifth-block__button {
  position: relative;
  border-radius: 44px 44px 44px 44px/44px 44px 44px 44px;
  border: none;
  margin-bottom: 26px;
  background: linear-gradient(45deg, #ffd64c, #fffc40);
  font-size: 19px;
  width: 230px;
  height: 90px;
  cursor: pointer;
}
.fifth-block__img {
  margin: 0 5px;
}
.fifth-block__right-links {
  margin-left: 47px;
}
.fifth-block__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fifth-block__img-2-mobile, .fifth-block__img-27-mobile {
  display: none;
}

.rarity {
  width: 45px;
}

.disc {
  width: 40px;
}

.ME {
  padding-left: 6px;
  width: 40px;
}

.inst {
  width: 26px;
  margin-left: 18px;
}

.logo {
  width: 28px;
}

@media screen and (max-width: 1200px) {
  .first-block {
    justify-content: center;
  }
  .first-block__right-block {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .first-block-wrapper {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 620px) {
  .heads__BucketHeadz {
    font-size: 70px;
    text-align: center;
  }

  .first-block__block-under-header {
    margin-bottom: 40px;
    text-align: center;
  }

  .left-block__roaming-solana {
    text-align: center;
  }

  .left-block__nfts-text {
    font-size: 120px;
  }

  .left-block__nfts-img {
    width: 90px;
  }

  .left-block__roaming-solana {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .second-block__header {
    text-align: center;
    margin: 0;
  }

  .three-reasons {
    flex-direction: column;
    align-items: center;
  }
  .three-reasons__block {
    margin: 20px 0;
  }
}
@media screen and (max-width: 448px) {
  .second-block__header {
    font-size: 55px;
  }
}
@media screen and (max-width: 1020px) {
  .third-block__header {
    font-size: 70px;
  }
  .third-block__wrapper {
    flex-direction: column;
  }
  .third-block__right-block {
    margin: 0;
    text-align: center;
  }
  .third-block__img {
    align-self: center;
    margin: 20px 0;
    width: 50%;
    height: 50%;
  }
  .third-block__green-circle {
    display: none;
  }
  .third-block .right-block-with-text__2 {
    margin: 0;
  }
}
@media screen and (min-width: 1366px) {
  .fourth-block-wrapper {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 880px) {
  .fifth-block-wrapper {
    overflow: hidden;
  }

  .second-block__header {
    font-size: 55px;
  }

  .fifth-block__img-2, .fifth-block__img-27 {
    display: none;
  }

  .fifth-block__img-2-mobile {
    display: block;
    position: absolute;
    top: -4px;
    left: 293px;
  }

  .fifth-block__img-27-mobile {
    display: block;
    position: absolute;
    top: 64px;
    left: -126px;
  }
}

/*# sourceMappingURL=styles.css.map */
